<h1 class="text-white"><%= t('sessions.new.title') %></h1>

<div class="card mt-3 bg-light">
  <div class="card-body">
    <%= form_with url: session_path do |f| %>

      <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
          <%= f.label :email, t('sessions.new.form.email')%>
        </div>

        <div class="col-sm-10">
          <%= f.email_field :email, placeholder: 'email', class: 'form-control' %>
        </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
          <%= f.label :password, t('sessions.new.form.password')%>
        </div>

        <div class="col-sm-10">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>

      <div class="mb-3 row">
        <div class="offset-sm-2 col-sm-10">
         <div class="form-check">
          <%= f.check_box :remember_me, class: 'form-check-input', value: '1' %>
          <%= f.label :remember_me, t('sessions.new.form.remember_me'), class: 'form-check-label' %>
         </div>
        </div>
      </div>

      <%= f.submit t('sessions.new.title'), class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>