<% provide :page_title, "Your page" %>
<% currently_at current_user.name_or_email.capitalize %>

<article class="card mt-3 bg-light">
  <div class="card-body">
    <h3 class="mb-4"><%= @user.name_or_email.capitalize %></h3>
      <p><%= @user.email %></p>
      <p>Создан: <%= @user.time_formatted %></p>
      <div class="btn-group">
        <%= link_to t('global.button.edit'), edit_user_path(@user), class: "btn btn-warning"%>
        <%= link_to t('global.button.delete'), question_path(@user), class: "btn btn-danger",
        data: {method: :delete, confirm: t('global.dialog.you_sure')} %>
      </div>
  </div>
</article>
